# Core functionality - changes here should be rare!
/src/app.py                   @haidy-jarad
/src/backend/database.py      @haidy-jarad
/src/backend/routers/auth.py  @haidy-jarad

# The frontend will need refactored soon to be more object oriented.
/src/static/   @haidy-jarad
